flask~=3.1           # Framework web principal
opencv-python~=4.11  # Processamento de imagem
numpy~=2.2           # Cálculos numéricos
ultralytics~=8.3     # YOLO e visão computacional
python-dotenv~=1.1   # Variáveis de ambiente
Werkzeug~=3.1        # Utilitário WSGI (base do Flask)
Pillow~=11.2         # Manipulação de imagens
tqdm~=4.67           # Barra de progresso
torch~=2.7           # PyTorch para IA
torchvision~=0.22    # Suplementos visuais do PyTorch
